div{
    height: 150px;
    width: 300px;
    background-color: grey;
    border: 5px dotted black;
    margin-top: 20px;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em;
    padding: 1em ;
}

.div{
height: 100px;
width: 100px;
background-color: pink;
border: 2px solid black;
/* Border-radius = 50% is used to get circle */
border-radius: 100%;
display: inline-block;
}

/* Inline elements
The default rendering for elements, inline elements are rendered on the same line as adjacent content.
Inline-block elements
These elements are rendered as block boxes inside an inline box. They inherit the width and height of their parent, and can be set to padding and margins like block elements. */

ul{
    font-size: 30px;
    display: inline;
}

/* Li(listitems) have their display property setto “list-item” by default which makes them a bulleted list item.
When this property is reset by you to “inline”,then the bullet points also disappear.In away,we override the default settings with our CSS */