div{
    width: 400px;
    height: 200px;
    background-color: red;
    margin: 10px auto;
    background-image:url(virat.jpg) ;
    background-size: contain;
}

/* background-size 
contain -> repeat if 
cover -> crop
auto -> stretch */